<!DOCTYPE html>
<html>
  <head>
    <title>Список фильмов</title>
  </head>
  <body>
    <!-- Ссылки на главную страницу и страницу фильмов -->
    <a href="http://127.0.0.1:5000">Главная</a>
    <a href="http://127.0.0.1:5000/film_form">Добавить фильм</a>
    <a href="http://127.0.0.1:5000/films">Фильмы</a>
    <!-- Ссылка на страницу конкретного фильма, в данном случае фильм с id 3 -->
    <a href="http://127.0.0.1:5000/film/3">Фильм 3 (служебная)</a>

    <!-- Заголовок страницы -->
    <h1>Фильмы</h1>

    <!-- Таблица для вывода списка фильмов -->
    <table border="1">
      <!-- Заголовок таблицы -->
      <tr>
        <th>Название</th>
        <th>Год</th>
        <th>Жанр</th>
      </tr>
      <!-- Строки таблицы, содержащие информацию о фильмах -->
      <tr>
        <td>Властелин колец: Братство Кольца</td>
        <td>2001</td>
        <td>Приключения</td>
      </tr>
      <tr>
        <td>Интерстеллар</td>
        <td>2014</td>
        <td>Драма</td>
      </tr>
      <tr>
        <td>Начало</td>
        <td>2010</td>
        <td>Научная фантастика</td>
      </tr>
      <tr>
        <td>Тёмный рыцарь</td>
        <td>2008</td>
        <td>Триллер</td>
      </tr>
      <tr>
        <td>Пираты Карибского моря: Проклятие Чёрной жемчужины</td>
        <td>2003</td>
        <td>Приключения</td>
      </tr>
    </table>

    <!-- Вывод изображения -->
    <img src="https://cdn.culture.ru/images/850320f4-dc17-5a3b-aad4-8da56bb2a090" width="100" height="100">
  </body>
</html>
