<!DOCTYPE html>
<html>
  <head>
    <title>Описание фильма</title>
  </head>
  <body>    
    <!-- Ссылки на главную страницу и страницу фильмов -->
    <a href="http://127.0.0.1:5000">Главная</a>
    <a href="http://127.0.0.1:5000/film_form">Добавить фильм</a>
    <a href="http://127.0.0.1:5000/films">Фильмы</a>
    <a href="http://127.0.0.1:5000/film_table">Фильмы(таблица БД)</a>
    <!-- Ссылка на страницу конкретного фильма, в данном случае фильм с id 3 -->
    <a href="http://127.0.0.1:5000/film/3">Фильм 3 (служебная)</a>
    
    <!-- Заголовок страницы -->
    <h1>Описание фильма</h1>

    <!-- Вывод информации о фильме, полученной из переменной film -->
    <p>Название фильма: {{film[1]}}, Год выпуска {{film[2]}}, Рейтинг {{film[3]}}</p>

    <!-- Вывод изображения фильма -->
    <img src="https://cdn.culture.ru/images/850320f4-dc17-5a3b-aad4-8da56bb2a090" width="100" height="100">

    <!-- Вывод заголовка для полей фильма -->
    <p>Поля фильма</p>

    <!-- Цикл по элементам списка film -->
    <!-- Вывод каждого элемента списка -->
    {% for element in film %}
        <p>{{element}}</p>
    {% endfor %}
  </body>
</html>
