<!-- Ссылки на главную страницу и страницу фильмов -->
<a href="http://127.0.0.1:5000">Главная</a>
<a href="http://127.0.0.1:5000/film_form">Добавить фильм</a>
<a href="http://127.0.0.1:5000/films">Фильмы</a>
<a href="http://127.0.0.1:5000/film_table">Фильмы(таблица БД)</a>
<!-- Ссылка на страницу конкретного фильма, в данном случае фильм с id 3 -->
<a href="http://127.0.0.1:5000/film/3">Фильм 3 (служебная)</a>


<form method="POST">
    {{ form.name.label }} {{ form.name() }}
    {{ form.rating.label }} {{ form.rating() }}
    {{ form.year.label }} {{ form.year() }}
    {{ form.genre.label }} {{ form.genre() }}
    <input type="submit" value="Go">
</form>