<!DOCTYPE html>
<html>
  <head>
    <title>Пример страницы</title>
  </head>
  <body>
    <!-- Ссылки на главную страницу и страницу фильмов -->
    <a href="http://127.0.0.1:5000">Главная</a>
    <a href="http://127.0.0.1:5000/film_form">Добавить фильм</a>
    <a href="http://127.0.0.1:5000/films">Фильмы</a>
    <!-- Ссылка на страницу конкретного фильма, в данном случае фильм с id 3 -->
    <a href="http://127.0.0.1:5000/film/3">Фильм 3 (служебная)</a>

    <!-- Заголовок первого уровня -->
    <h1>Это заголовок 1 уровня</h1>

    <!-- Первый раздел -->
    <p>Это первый абзац 1 раздела</p>
    <p>Это второй абзац 1 раздела</p>

    <!-- Заголовок второго уровня -->
    <h2>Это заголовок 2 уровня</h2>

    <!-- Второй раздел -->
    <p>Это первый абзац 2 раздела</p>
    <p>Это второй абзац 2 раздела</p>
  </body>
</html>
